<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
        <%= render "users/userinfo",user:@user%>
        <%= render "form",book:@new_book%>
    </div>
    <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
  		    <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user) do %>
                  <%= image_tag @user.get_profile_image(63,63) %>
                  <br><%= @user.name %>
                <% end %>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book),class:"btn btn-sm btn-success"%></td>
                <td><%= link_to "Destroy", book_path(@book),method: :delete,class:"btn btn-sm btn-danger", data: { confirm: '本当に消しますか' }%></td>
              <% end %>
              <td>
                  <% if @book.favorited_by?(current_user) %>
                    <%= link_to book_favorites_path(book_id: @book.id),class: "like" ,method: :delete do %>
                      <i class="fas fa-heart like"></i><%= @book.favorites.count%>
                    <% end %>
                  <% else %>
                    <%= link_to book_favorites_path(book_id: @book.id), method: :post do %>
                      <i class="fas fa-heart unlike"></i><%= @book.favorites.count %>
                    <% end %>
                  <% end %>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>