<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
        <%= render "users/userinfo",user:@user%>
        <%= render "form",book:@new_book%>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= image_tag @user.get_profile_image(63,63) %>
                <br><%= @user.name %>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td><div id="star-rate<%= @book.id%>"></div></td>
            <script>
              $('#star-rate<%= @book.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                half      : false,
                readOnly: true,
                score: <%= @book.star %>,
              });
            </script>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book),class:"btn btn-sm btn-success"%></td>
              <td><%= link_to "Destroy", book_path(@book),method: :delete,class:"btn btn-sm btn-danger", data: { confirm: '本当に消しますか' }%></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    　<h2>Comments</h2>
    　<table class="table">
    　   <tbody>
          <% @book.book_comments.each do |book_comment| %>
            <tr>
              <td>
                <%= link_to user_path(book_comment.user.id) do %>
                  <%= image_tag book_comment.user.get_profile_image(63,63) %>
                <% end %>
              </td>
              <td><%= book_comment.user.name %></td>
              <td><%= book_comment.comment %></td>
              <td>
                <% if book_comment.user == current_user %>
                  <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete ,class:"btn btn-sm btn-danger", data: { confirm: '本当に消しますか' }%>
                <% end %>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book),class:"btn btn-sm btn-success"%></td>
                <td><%= link_to "Destroy", book_path(@book),method: :delete,class:"btn btn-sm btn-danger", data: { confirm: '本当に消しますか' }%></td>
              <% end %>
              <td>
                  <% if @book.favorited_by?(current_user) %>
                    <%= link_to book_favorites_path(book_id: @book.id),class: "like" ,method: :delete do %>
                      <i class="fas fa-heart like"></i><%= @book.favorites.count%>
                    <% end %>
                  <% else %>
                    <%= link_to book_favorites_path(book_id: @book.id), method: :post do %>
                      <i class="fas fa-heart unlike"></i><%= @book.favorites.count %>
                    <% end %>
                  <% end %>
              </td>
              <td>
              </td>
            </tr>
          <% end %>
    　   </tbody>
    　</table>
      <h2>New Comment</h2>
      <% if @error_comment.present? %>
      <div id="error_explanation">
        <% if @error_comment.errors.any? %>
          <h3><%= @error_comment.errors.count %> error prohibited this obj from being saved:</h3>
          <ul>
            <% @error_comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <% end %>
      <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
        <div class="form-group"><%= f.text_area :comment,placeholder: "コメントをここに",class:"form-control" %></div>
        <div class="form-group"><%= f.submit "送信",class:"btn btn-success"%></div>
      <% end %>

    </div>
  </div>
</div>