<div class="left-button">
  <%= link_to "ユーザー一覧に戻る", users_path,class:"edit-link" %>
</div>
<h4 class="rooms-title">気になる同士</h4>
<% @entries.each do |e| %>
  <div class="user-name">
  <strong>
   <%= image_tag e.user.get_profile_image(63,63) %>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.name %>さん
      </a>
  </strong>
  </div>
<% end %>
<hr>
<div class="container">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <% if m.user.id == current_user.id %>
        <div class="row">
          <div class="col-md-12 clearfix">
            <div class="float-left test-box">
              <%= image_tag m.user.get_profile_image(63,63) %>
              <%= m.user.name %>さん<br>
              <strong><%= m.body %></strong>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-12 clearfix">
            <div class="float-right test-box">
              <%= m.user.name %>さん
              <%= image_tag m.user.get_profile_image(63,63) %><br>
              <strong><%= m.body %></strong>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-12 clearfix">
      <%= form_with model:@message do |f| %>
        <%= f.text_field :body, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
          <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "投稿",class: 'form-submit'%>
      <% end %>
    </div>
  </div>
</div>


